/*.header {
  display: flex;
  min-height: 70px;
  border-bottom: $borderStyle;
  position: relative;
}

@media screen and (max-width: 900px) {
  .header {
    justify-content: space-between;    
  }
}*/

.header {
  min-height: 70px;
  border-bottom: $borderStyle;
  position: relative;
  display: grid;
  grid-template-columns: 1fr min-content;
}