.gallery__block {
  width: 50%;
  border-right: $borderStyle;
  box-sizing: border-box;  
  /*display: flex;
  flex-direction: column;*/
}

@media screen and (max-width: 899px) {
  .gallery__block {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}