.about__card_position_bottom {
  min-height: 506px;
}

@media screen and (max-width: 768px) {
  .about__card_position_bottom { 
    min-height: 506px;
  }
}

@media screen and (max-width: 486px) {
  .about__card_position_bottom { 
    min-height: 0;
    grid-column: 1/2;
    grid-row: 3/4;
  }
}